
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.head{
    background: rgb(179,101,101);
background: linear-gradient(90deg, rgba(179,101,101,1) 0%, rgba(107,138,187,1) 42%, rgba(225,238,205,1) 85%);
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
    
}
.head h1{
    text-align: center;
    font-size: 40px;
}
body{
    height: 5px;
    background: rgb(87,2,2);
background: linear-gradient(90deg, rgba(87,2,2,1) 0%, rgba(9,26,121,1) 35%, rgba(6,244,193,1) 100%);
    
}

.container
{
    width: 960px;
    height: auto;
    margin: 0 auto;
    background: rgb(155,161,255);
background: linear-gradient(90deg, rgba(155,161,255,1) 0%, rgba(255,179,168,0.4906337535014006) 50%, rgba(231,142,19,1) 100%);
    justify-content: center;
    border-radius: 10px;
}
#form {
padding: 10px;

}

 .customar-details {
    background-color: rgba(135, 207, 235, 0.424);
    border-radius: 10px ;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
}
 #form .button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: rgba(135, 207, 235, 0.424);
    padding: 20px;
    margin: 20px;
}

.customar-details .input-details {
   
    font-size: 15px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
}


.customar-details .input-details input{

    border-radius: 5px;
    height: 25px;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    

}

.customar-details .switch #btn {
    text-align: center;
    margin-top:20px ;
    height: 30px;
    width: 100px;

    background-color:wheat;

    
}

.container .conttbl{
    justify-content: center;
    text-align: center;
    background-color: rgba(135, 207, 235, 0.424);
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    
}

.container .tbl{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    
}


.container .tbl , thead,tr,td{
    border: 1px solid black;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: bold;
    
}

  

